<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="the perfection of the human body">
    <meta name="author" content="Pios">
    <title>Myron</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <nav class="nav">
        <p class="nav__title">Myron</p>
    </nav>
    <main class="main">
        <section class="header">
            <h1 class="header__title">myron</h1>
            <h2 class="header__subtitle">the perfection of the human body</h2>
        </section>
        <section class="scene"></section>
        <section class="content">
            <div class="content__container--reflex">
                <h3 class="content__container__title--reflex">reflex</h3>
                <p class="content__container__desc--reflex">the ability to quickly be aware of the situation and to
                    react to it appropriately.</p>
            </div>
            <div class="content__container--strength">
                <h3 class="content__container__title--strength">strength</h3>
                <p class="content__container__desc--strength">physical or spiritual energy enabling action</p>
            </div>
            <div class="content__container--harmony">
                <h3 class="content__container__title--harmony">rhythm, harmony and equilibrium
                </h3>
                <p class="content__container__desc--harmony">the epitome of order and compliance</p>
            </div>
            <div class="content__container--condition">
                <h3 class="content__container__title--condition">condition</h3>
                <p class="content__container__desc--condition">the body's resistance to the prevailing conditions</p>
            </div>
            <div class="content__container--agility">
                <h3 class="content__container__title--agility">agility</h3>
                <p class="content__container__desc--agility">The ability to make quick and deft movements </p>
            </div>
            <div class="content__container--intelligence">
                <h3 class="content__container__title--intelligence">intelligence</h3>
                <p class="content__container__desc--intelligence">the ability to understand, learn and use the existing
                    knowledge and skills in new situations</p>
            </div>
        </section>
    </main>
    <footer class="footer"></footer>
    <script src="main.js"></script>
</body>

</html>