.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      font-size: 35rem;
      text-transform: uppercase;
      transform: translateX(-200%);
      color: $special-color;

      @include media('<=phone') {
        text-align: center;
      }
    }
    &__line {
      height: 5px;
      width: 30%;
      background-color: $font-color;
      transform: translateX(-200%);
      margin-bottom: 3rem;

      @include media('<=phone') {
        display: none;
      }
    }
    &__subtitle {
      font-size: 10rem;
      text-transform: uppercase;
      line-height: 12rem;
      margin-left: 3rem;
      transform: translateX(-200%);

      @include media('<=phone') {
        margin-top: 8rem;
        text-align: center;
      }
    }
  }

  .scene {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    &__container {
      position: absolute;
      width: 45%;

      &__title {
        font-size: 15rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        @include media('<=phone') {
          font-size: 26rem;
        }
      }
      &__desc {
        font-size: 4rem;
        text-transform: uppercase;
        line-height: 5rem;

        @include media('<=phone') {
          margin-top: 10rem;
          font-size: 8rem;
          line-height: 10rem;
        }
      }
      @include media('<=phone') {
        width: 100%;
      }
    }
  }
}

.reflex {
  top: 33%;
  left: 76%;
  transform: translate(500%, -50%);
  &--title {
    color: #ff22f2;
    @include media('<=phone') {
      text-align: center;
    }
  }
  &--desc {
    opacity: 0;
  }
  &--pointer {
    position: absolute;
    top: 68%;
    left: 20%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: 0.5rem solid white;
    border-radius: 50%;
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}

.strength {
  top: 38%;
  left: 32%;
  transform: translate(-500%, -50%);
  &--desc {
    opacity: 0;
  }
  &--title {
    color: #2046ff;
    @include media('<=phone') {
      text-align: center;
    }
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}

.harmony {
  top: 50%;
  left: 25%;
  transform: translate(-500%, -50%);
  &--title {
    color: #c57600;
    @include media('<=phone') {
      text-align: center;
    }
  }
  &--desc {
    opacity: 0;
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}

.condition {
  top: 30%;
  left: 30%;
  transform: translate(-500%, -50%);
  &--title {
    color: #ff0023;
    @include media('<=phone') {
      text-align: center;
    }
  }
  &--desc {
    opacity: 0;
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}

.agility {
  top: 60%;
  left: 26%;
  transform: translate(-500%, -50%);
  &--title {
    color: $special-color;
    @include media('<=phone') {
      text-align: center;
    }
  }
  &--desc {
    opacity: 0;
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}

.intelligence {
  top: 36%;
  left: 61%;
  transform: translate(500%, -50%);

  &--title {
    color: #cfd200;
    @include media('<=phone') {
      font-size: 24rem !important;
      text-align: center;
    }
  }
  &--desc {
    opacity: 0;
  }
  @include media('<=phone') {
    text-align: center;
    top: 50%;
    left: 50%;
  }
}
