.nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  &__title {
    font-size: 4rem;
    text-align: right;
    margin-top: 3rem;
    margin-right: 5rem;
    &__link {
      color: $special-color;
      text-decoration: none;
    }
  }
}
